Submission probabilities tweaks

In [1]:
import numpy as np
import pandas as pd

In [60]:
df = pd.read_csv("../results/submission_mean_cv=6_squeezenet_2017-05-25-23-30.csv")

In [61]:
df.head()

  image_name    Type_1    Type_2    Type_3
0      0.jpg  0.222587  0.533222  0.244191
1      1.jpg  0.215771  0.542684  0.241544
2     10.jpg  0.330304  0.534667  0.135029
3    100.jpg  0.300007  0.633719  0.066274
4    101.jpg  0.475317  0.412831  0.111853

In [62]:
def foo(probas):
    imax = np.argmax(probas.values)
    indices = range(3)
    indices.remove(imax)
    probas[imax] = 0.95
#     probas[indices] = 0.025
    return probas

In [63]:
cols = ['Type_%i' % i for i in range(1, 4)]
df[cols] = df.loc[:, cols].apply(foo, axis=1)

In [64]:
import os
from datetime import datetime

info = 'mean_cv=6_squeezenet_postproc'

now = datetime.now()
sub_file = 'submission_' + info + '_' + str(now.strftime("%Y-%m-%d-%H-%M")) + '.csv'
sub_file = os.path.join('..', 'results', sub_file)
df.to_csv(sub_file, index=False)

In [65]:
df.head()

  image_name    Type_1    Type_2    Type_3
0      0.jpg  0.222587  0.950000  0.244191
1      1.jpg  0.215771  0.950000  0.241544
2     10.jpg  0.330304  0.950000  0.135029
3    100.jpg  0.300007  0.950000  0.066274
4    101.jpg  0.950000  0.412831  0.111853

In [2]:
import os
import sys
# Project
project_common_path = os.path.dirname('.')
project_common_path = os.path.abspath(os.path.join(project_common_path, '..', 'common'))
if not project_common_path in sys.path:
    sys.path.append(project_common_path)

In [4]:
import numpy as np
from metrics import logloss_mc

In [17]:
n=100

In [18]:
y_true = np.zeros((n, 3), dtype=np.uint8)
y_true[:, 0] = 1

In [58]:
y_pred = 0.33 * np.ones((n, 3))
index = np.random.randint(0, 3, size=n)

In [59]:
logloss_mc(y_true, y_pred)

1.0986122886681107

In [95]:
y_pred = 0.2 * np.ones((n, 3))
index = np.random.randint(0, 3, size=n)
y_pred[np.arange(n), index] = 0.85

In [96]:
logloss_mc(y_true, y_pred)

1.3406290095499604